
html { 
    font-size: 18px;    /* Défini la taille de police sur toute la page */
}

body {
    margin: 0; /* Remplir la largeur du body*/
    background: cyan;
    text-align: center;
} 

footer {
    text-align: center;
    padding: 3px;
    color: white;
    bottom: 0;
}

/***************Forms page Contact***************/
form {
    display: inline-block;
}

section {
    padding-left: 5px;
}

form > div > div , form > div {
    padding: 5px;
    text-align: left;
}
/***************FIN Forms page Contact***************/

/***************Tableau page A propos***************/
table{
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* Couleur arrière plan de la première colonne */
td.first{
    background-color : cornsilk;
}

/* Couleur arrière plan des lignes impaires */
tr:nth-child(odd) {
    background-color: cornsilk;
}

/* Couleur arrière plan des lignes paires */
tr:nth-child(even) {
    background-color: white;
}
/***************FIN Tableau page A propos***************/

header > h1{
    font-size: 40px;
    color: rgb(14, 51, 119);
    text-align: center;
    font-family: cursive;
}

/***************Articles page Acceuil***************/
article {
    margin-top: 25px;
    padding: 5px;
    background-color: rgb(12, 225, 236);
}
  
article > h1, article > article {
    margin: 10px;
    padding: 5px;
}

/* Couleur arrière plan des blocs d'articles dans articles */
article > article {
    background: white;
}

/* Réduit la taille d'écriture des articles*/
article > article > h2, p {
    margin: 4px;
    font-size: 90%;
}

/* Justifie le texte des paragraphes (surtout des articles) */
p{
    text-align: justify;
}
/***************FIN Articles page Acceuil***************/

/* Centre uniquement le text en pied de page */
footer > p {
    text-align: center;
}

/***************Menu Navigation***************/
/* Paramètres class du menu navigation */
ul.nav {
    list-style-type: none;  /* pour enlever les puces*/ 
    margin: 0;
    margin-bottom: -20px;
    padding: 0;
    overflow: hidden;
    background: rgb(18,38,162);
    background: linear-gradient(90deg, rgba(18,38,162,1) 0%, rgba(5,120,240,1) 47%, rgba(0,255,255,1) 95%);  
    width: 100%;
}

li a {
    display: block; 
    color: white; 
    padding: 1%;
    text-decoration: none; /* pour enlever le format hypertext*/ 
    float: left ;   /* justifie à gauche */ 
    border-right: 1px solid #bbb;
}

li a:hover{
    background-color: #111;
}

li:last-child {
    border-right: none;
    border-bottom: none;
}

/* Responsive */
@media screen and (max-width: 600px) {
    ul.nav li.right, ul.nav li a{float: none; border-bottom: 1px solid #bbb; };   
}

/***************FIN Menu Navigation***************/





